@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap");
body {
  height: 5000px;
  box-sizing: border-box;
}

/*****************************************glopal styles*******************************************/
.btn-primary {
  background-color: #ff8a1d;
  transition: 0.2s;
  border-radius: 0px;
  border: none;
  width: 150px;
}
.btn-primary:hover {
  background-color: #0355cc;
}

.btn-secondary {
  background-color: #0355cc;
  border: none;
  border-radius: 0;
  width: 150px;
}
.btn-secondary:hover {
  background-color: #ff8a1d;
}

h4 {
  color: #0355cc;
}

h1 {
  color: #0355cc;
}

.repair_imp_main_card img {
  width: 25%;
}

.checked {
  color: #ff8a1d;
}

.card_client_say {
  width: 40% !important;
}

footer .img-box {
  width: 80px !important;
  height: 80px;
  border-radius: 50%;
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  line-height: 80px;
  background-color: #0355cc;
  color: white;
  transition: 0.2s;
  cursor: pointer;
}
footer .img-box:hover {
  background-color: #ff8a1d;
}
footer a {
  text-decoration: none;
}
footer a .item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer a .item p {
  margin-top: 25px;
  color: white;
}

/*******************************************inheritance styles*******************************************/
.repair_imp_main_card, .card_client_say {
  width: 25%;
  box-shadow: 0 4px 8px 0 rgba(114, 111, 111, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: none;
  border-radius: 0;
  transition: 0.2s;
  cursor: pointer;
}
.repair_imp_main_card:hover, .card_client_say:hover {
  background-color: #ff8a1d;
  color: white;
}

/*****************************************start media quieries*******************************************/
@media (max-width: 1000px) {
  :root {
    font-size: 15px;
  }
  .rebair_content {
    flex-direction: column !important;
    align-items: center;
  }
  .rebair_content .left_content {
    align-items: center;
    margin-bottom: 5%;
  }
  .rebair_content .left_content h1 {
    width: 81%;
  }
  .right-content {
    width: 90%;
  }
  .right-content > img {
    width: 90%;
  }
  .about_content {
    flex-direction: column;
    align-items: center;
  }
  .about_content .left_about_content {
    margin-bottom: 2%;
    width: 85%;
  }
  .about_content .left_about_content p {
    width: 100%;
  }
  .about_content .right_about_content {
    width: 85%;
  }
  .about_content .right_about_content img {
    width: 85%;
  }
  .right_services_content {
    width: 60%;
  }
  .right_services_content h1 {
    width: 100% !important;
    font-size: 1.5rem !important;
  }
  .right_services_content p {
    width: 100% !important;
    font-size: 0.8rem !important;
  }
  .left_img_content {
    width: 40% !important;
  }
  .left_img_content img {
    width: 80% !important;
  }
}
@media (max-width: 800px) {
  .our_services_cards {
    flex-direction: column !important;
    align-items: center;
  }
  .our_services_cards .our_services_card {
    margin-bottom: 10% !important;
    width: 50% !important;
  }
  .our_client_say_content {
    flex-direction: column;
    align-items: center;
  }
  .our_client_say_content .card_client_say {
    margin-bottom: 2%;
    width: 60% !important;
  }
}
@media (max-width: 600px) {
  :root {
    font-size: 12px;
  }
  .rebair_navBar {
    flex-direction: column;
    align-items: center;
  }
  .home_services_content {
    flex-direction: column;
    align-items: center;
  }
  .home_services_content .left_img_content {
    width: 75% !important;
  }
  .home_services_content .left_img_content img {
    width: 80% !important;
  }
  .home_services_content .right_services_content {
    width: 75% !important;
  }
  .home_services_content .right_services_content h1 {
    width: 100% !important;
  }
  .home_services_content .right_services_content p {
    width: 100% !important;
  }
  .img-box {
    width: 50% !important;
  }
  .img-box img {
    width: 70% !important;
  }
}
/*****************************************end media quieries*******************************************/
/*****************************************start nav styles*******************************************/
.navbar {
  background-color: #000000;
}
.navbar .navbar_icons {
  color: #ff8a1d;
}
.navbar .navbar_txt {
  color: white;
}

/*****************************************end nav styles*******************************************/
/*****************************************start rebair styles*******************************************/
.rebair_section {
  background-color: #d1e3ff;
}
.rebair_section h1 {
  width: 40%;
}
.rebair_section p {
  width: 80%;
}
.rebair_section a:hover {
  color: #0355cc;
}

/*****************************************end rebair styles*******************************************/
/***********************************start rebair,improve, maitain section-****************************/
.repair_imp_main {
  transform: translateY(-50%);
}

/***********************************end rebair,improve, maitain section-****************************/
/*****************************************start about us styles*******************************************/
.left_about_content p {
  width: 90%;
  font-size: 0.9rem;
}

.right_about_content img {
  width: 600px;
}

/*****************************************end about us styles*******************************************/
/*****************************************start home services*******************************************/
.home_services {
  background-color: #d1e3ff;
}
.home_services .home_services_content img {
  width: 450px;
}
.home_services .right_services_content {
  width: 40%;
}
.home_services .right_services_content h1 {
  width: 80%;
}
.home_services .right_services_content p {
  font-size: 0.9rem;
  width: 90%;
}

/*****************************************end home services*******************************************/
/*****************************************start our services syles************************************/
.our_services_card .img_content p:first-child {
  font-weight: bold;
}

/*****************************************end our services syles**************************************/
/*****************************************start our client syles*************************************/
.img-box {
  width: 125px;
  margin-right: 15px;
}
.img-box img {
  border-radius: 50% !important;
}

.client_detail {
  width: 80%;
}

.btn_client {
  width: 50px;
}

/*****************************************end our client syles**************************************/
/*****************************************start contact us*****************************************/
.text_area {
  height: 150px;
}

/*****************************************end contact us***************************************/
/*****************************************start footer style**********************************/
footer {
  padding: 75px 0;
  background-color: #0a0f43;
  text-align: center;
  color: #fff;
}

/*****************************************end footer style***********************************/

/*# sourceMappingURL=sass.css.map */
