body {
  height: 5000px;
  box-sizing: border-box;
}
/*****************************************glopal styles*******************************************/
.btn-primary {
  background-color: $orange_color;
  transition: 0.2s;
  border-radius: 0px;
  border: none;
  width: 150px;
  &:hover {
    background-color: $blue_color;
  }
}
.btn-secondary {
  background-color: $blue_color;
  border: none;
  border-radius: 0;
  width: 150px;
  &:hover {
    background-color: $orange_color;
  }
}
h4 {
  color: $blue_color;
}
h1 {
  color: $blue_color;
}
.repair_imp_main_card {
  width: 25%;
  box-shadow: 0 4px 8px 0 rgba(114, 111, 111, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: none;
  border-radius: 0;
  transition: 0.2s;
  cursor: pointer;
  &:hover {
    background-color: $orange_color;
    color: $white_color;
  }
  img {
    width: 25%;
  }
}
/*****************************************start media quieries*******************************************/
@media (max-width: 1000px) {
  :root {
    font-size: 15px;
  }
  .rebair_content {
    flex-direction: column !important;
    align-items: center;
    .left_content {
      align-items: center;
      margin-bottom: 5%;
      h1 {
        width: 81%;
      }
    }
  }
  .right-content {
    width: 90%;
    > img {
      width: 90%;
    }
  }
  .about_content {
    flex-direction: column;
    align-items: center;
    .left_about_content {
      margin-bottom: 2%;
      width: 85%;
      p {
        width: 100%;
      }
    }
    .right_about_content {
      width: 85%;
      img {
        width: 85%;
      }
    }
  }
  .right_services_content{
    width: 60%;
    h1{
      width: 100% !important;
      font-size: 1.5rem !important;
    }
    p{
      width: 100% !important;
      font-size: .8rem !important;
    }
  }
  .left_img_content{
    width: 40% !important;
    img{
        width: 80% !important;
    }
  }
}
@media (max-width:700px) {
  .our_services_cards{
    flex-direction: column !important;
    align-items: center;
    .our_services_card{
      margin-bottom: 10% !important;
      width: 50% !important;
  }
}
}
@media (max-width: 600px) {
  :root {
    font-size: 12px;
  }
  .rebair_navBar {
    flex-direction: column;
    align-items: center;
  }
  .home_services_content{
    flex-direction: column;
    align-items: center;
    .left_img_content{
      width: 75% !important;
      img{
          width: 80% !important;
      }
    }
    .right_services_content{
      width: 75% !important;
      h1{
        width: 100% !important;
      }
      p{
        width: 100% !important;
      }
    }
  }
}
/*****************************************end media quieries*******************************************/
