@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap");
@import "./variables";
@import "./methods";
/*****************************************start nav styles*******************************************/
.navbar {
  background-color: $first_nav_color;
  .navbar_icons {
    color: $orange_color;
  }
  .navbar_txt {
    color: $white_color;
  }
}
/*****************************************end nav styles*******************************************/
/*****************************************start rebair styles*******************************************/
.rebair_section {
  background-color: $primary_bg_color;

  h1 {
    width: 40%;
  }
  p {
    width: 80%;
  }
  a {
    &:hover {
      color: $blue_color;
    }
  }
}

/*****************************************end rebair styles*******************************************/

